/* SET ALL ELEMENTS TO 0 PADDING AND 0 MARGIN AS DEFAULT */
* {
  margin: 0;
  padding: 0;
}

/* ROOT COLOR PROFILE */
:root {
  --white: white;
  --black: black;
  --red: #d61c4e;
  --dark-red: #81081f;
  --pink: #e0c7cc;
  --orange: #ff6f48;
  --yellow: yellow;
  --blue: #31a1e2;
  --pale-blue: #b6dfeb;
  --dark-pink: #f072ad;
  --green: #60c241;
  --gray: #131314;
  --light-gray: #2b2b2b;
  --lightest-gray: #a2a2a3;
  --dark-gray: #080909;
  --gray-background: #ecedee;
  --gray-text: #9a9da0;
}

/* SIZING - 1 REM EQUALS 10px */
html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
  overflow-x: hidden;
}

/* Custom Scrollbar */

html::-webkit-scrollbar {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 100px;
}

/* LIGHT AND DARK TOGGLE THEME */

#light {
  background-color: var(--white);
}

#dark {
  background-color: var(--gray);
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
}

h4 {
  font-weight: 600;
  font-size: 2.1rem;
}

#light h4 {
  color: var(--black);
}

#dark h4 {
  color: var(--white);
}

.sm-section-header {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

#dark .sm-section-header {
  color: var(--white);
}

#light .sm-section-header {
  color: var(--gray-text);
}

#light .section-title {
  color: var(--black);
}

#dark .section-title {
  color: var(--pink);
}

p,
label {
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: justify;
  text-justify: inter-word;
}

#light p {
  color: var(--black);
}

#dark p {
  color: var(--white);
}

textarea {
  height: 110px;
}

/* NAVIGATION BARS */

nav {
  position: fixed;
  width: 100%;
  z-index: 3;
}

/* small nav */

.small-nav {
  background-color: var(--red);
}

.small-nav-items {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0.7rem;
}

.social-icons {
  color: var(--white);
  height: 18px;
  margin-right: 2rem;
  transition: 0.5s;
}

.social-icons:hover {
  color: var(--pink);
}

/* large nav */

.logo {
  cursor: pointer;
  width: 50px;
  margin: 0.5rem 0 0.5rem 2rem;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar {
  background-color: var(--black);
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links .nav-item:hover {
  color: var(--white);
}

.nav-links .nav-item {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  list-style: none;
  padding: 0.8px 20px 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.6s;
}

.nav-item::after {
  content: "";
  color: var(--white);
  position: absolute;
  width: 100%;
  height: 0.18rem;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: 0.6s;
}

.nav-item:hover::after {
  background-color: var(--white);
  transform: scale(1, 1);
}

.hamburger-button {
  border: none;
  cursor: pointer;
  margin-right: 2rem;
}

.hamburger-icon {
  background-color: var(--black);
  border: none;
  color: var(--white);
  height: 30px;
}

/* LIGHT/DARK TOGGLE */

.color-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 4rem;
}

.toggle-text {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--white);
  margin-right: 1rem;
}

/* HAMBURGER */

.hamburger-button {
  display: none;
}

/* HERO CONTAINER AND TEXT */

.hero__container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 8rem;
  width: 100%;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 2rem;
  text-align: center;
  width: 70%;
}

.my-name-text,
.my-title-text {
  color: var(--white);
  margin: 0 auto;
  width: 100%;
  /* text-shadow: var(--black) 10px 10px 10px; */
}

.my-name-text {
  font-size: 12rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  margin-bottom: 1.3rem;
}

.my-title-text {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin-bottom: 1.9rem;
}

/* BUTTONS */

button {
  font-size: 1.3rem;
  font-weight: 500;
}

/* hero button on hero banner */

.hero-button {
  background-color: var(--black);
  border: none;
  color: var(--white);
  cursor: pointer;
  letter-spacing: 0.2rem;
  margin-top: 2.7rem;
  padding: 1.3rem 7rem;
  transition: 1s;
}

.hero-button:hover {
  background-color: var(--dark-red);
}

/* about section buttons */

.resume-button,
.med-blue-button,
.dark-blue-button,
.submit-button {
  border: none;
  cursor: pointer;
  color: var(--white);
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-right: 1.5rem;
  padding: 1.2rem 3.5rem;
  width: 128px;
  text-align: center;
  text-decoration: none;
  transition: 0.6s;
}

.demo-button {
  border: none;
  box-sizing: border-box;
  box-shadow: inset 0 -3.8em 0 0 var(--black);
  cursor: pointer;
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  padding: 1.2rem 3.5rem;
  width: 80%;
  text-align: center;
  text-decoration: none;
  transition: 0.6s;
}

#light .resume-button,
#light .med-blue-button,
#light .dark-blue-button,
#light .submit-button,
#light .demo-button {
  background-color: var(--black);
}

#dark .resume-button,
#dark .med-blue-button,
#dark .dark-blue-button,
#dark .submit-button,
#dark .demo-button {
  background-color: var(--red);
}

.button-icon {
  height: 18px;
  width: 18px;
  margin-right: 1.3rem;
  transition: 0.5s;
  vertical-align: bottom;
}

#light .resume-button:hover,
#light .med-blue-button:hover,
#light .dark-blue-button:hover,
#light .submit-button:hover,
#light .demo-button:hover {
  box-shadow: inset 0 -3.8em 0 0 var(--red);
}

#dark .resume-button:hover,
#dark .med-blue-button:hover,
#dark .dark-blue-button:hover,
#dark .submit-button:hover,
#dark .demo-button:hover {
  box-shadow: inset 0 -3.8em 0 0 var(--orange);
}

.resume-button:hover .button-icon,
.med-blue-button:hover .button-icon,
.dark-blue-button:hover .button-icon {
  animation: tilt 0.25s infinite;
}

.button-icon {
  color: white;
  height: 20px;
}

/* contact section buttons */

#form .submit-button {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 4rem;
  text-align: left;
  width: 180px;
}

#light #form .submit-button {
  background-color: var(--black);
}

#dark #form .submit-button {
  background-color: var(--red);
}

/* ABOUT SECTION */

.about__section {
  margin: 0 auto;
  position: relative;
  padding-bottom: 6rem;
  width: 65%;
}

.about__container {
  display: flex;
  padding: 6rem 0 0;
}

.profile__image {
  align-self: center;
  margin-right: 6rem;
}

.about-paragraph {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.about-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2rem;
}

.button-banner {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

/* SKILLS SECTION */

.skills-container {
  background-color: var(--red);
  box-sizing: border-box;
  cursor: pointer;
  width: 98vw;
  margin: 0 auto 1rem;
  padding: 2rem;
}

.skill-content {
  width: 65%;
  margin: 0 auto;
}

.skill-header {
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 32px black;
  text-transform: uppercase;
}

.skill-toggle {
  font-size: 3rem;
  font-weight: 500;
}

.skill-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 1rem;
}

.skill-hidden {
  display: none;
}

.skill-icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  overflow: hidden;
}

.sm-skills-header {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

hr {
  background-color: var(--white);
  width: 10%;
  margin: 0 auto 4rem;
}

#node-logo {
  width: 100px;
}

.skill-logo {
  display: flex;
  height: 45px;
  margin: 0 2rem;
}

.language-header {
  color: var(--white);
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.7;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* PROJECTS SECTION */

.projects__section {
  width: 65%;
  margin: 0 auto;
  padding-top: 7rem;
}

.project__card {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 7rem;
  padding: 3rem;
}

#light .project__card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#dark .project__card {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.project__preview {
  width: 50%;
  overflow: hidden;
}

.project__desc {
  padding-left: 4rem;
  width: 50%;
}

.project-desc-para {
  margin-top: 1.8rem;
}

.project__image {
  width: 100%;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.project__image:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  filter: saturate(200%);
}

.projects-map {
  margin-top: 6rem;
}

.projects-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.project-stack {
  color: var(--red);
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 0.8rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}

/* More Projects Section */

.more-projects-background {
  background-color: var(--red);
  margin: 0 auto;
  padding: 5rem 3rem 7rem;
}

.more-projects-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  height: 90%;
}

.more-projects-card-container {
  background-color: var(--white);
  height: 35rem;
  width: 25rem;
  margin: 1rem 2rem;
  padding-bottom: 1rem;
}

#light .more-projects-card-container {
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

#dark .more-projects-card-container {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}

.more-project-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.more-projects-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.more-projects-title {
  color: var(--black);
  font-size: 1.8rem;
  text-align: center;
  padding: 2rem 1rem;
}

#dark .more-projects-title,
#dark .more-project-desc {
  color: var(--black);
}

.more-project-desc {
  color: var(--black);
  margin: 0 auto;
  padding: 0rem 1rem 1rem;
  text-align: center;
}

.swiper {
  width: 90%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.slider-button {
  background-color: var(--red);
  border: none;
  cursor: pointer;
}

.slider-button-icon {
  color: var(--white);
  height: 25px;
  opacity: 0.5;
}

/* BLOG */

.blog-section-container {
  object-fit: fill;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  padding: 4rem;
}

.blog-section-title {
  color: var(--white);
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  opacity: 0.9;
  text-shadow: 0 0 32px black;
}

.blog-button {
  background-color: transparent;
  box-sizing: border-box;
  border: 1.5px solid var(--white);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
  cursor: pointer;
  margin-top: 3rem;
  width: 180px;
  padding: 1rem;
  transition: 0.8s;
}

.blog-button:hover,
.blog-button:focus,
.blog-button:active {
  box-sizing: border-box;
  background-color: var(--red);
}

.blog-icon {
  color: var(--white);
  height: 20px;
}

/* CONTACT ME AND FORM */

#light .contact__section {
  background-color: var(--gray-background);
}

#dark .contact__section {
  background-color: var(--gray);
}

.contact__container {
  width: 65%;
  margin: 0 auto;
  padding: 6rem 0 7rem;
}

.form-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

#light .form-container {
  background-color: var(--black);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#dark .form-container {
  background-color: var(--red);
}

#form {
  margin-left: o;
  padding: 2rem 5rem 4rem;
  width: 85%;
}

#light #form {
  background-color: var(--white);
}

#dark #form {
  background-color: var(--light-gray);
}

.form-flex {
  margin: 5rem auto;
}

.error-message {
  color: var(--red);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

#light .error-message {
  color: var(--red);
  font-weight: 600;
}

#dark .error-message {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

#login-username,
#login-password {
  margin-bottom: 2rem;
}

#dark .contact-detail-text {
  color: var(--white);
}

.contact__container,
.contact__container:before,
.contact__container:after {
  box-sizing: border-box;
}

.checkbox-container {
  text-align: center;
}

.contact-check {
  color: var(--red);
  height: 40px;
  margin-top: 2rem;
}

#light .contact-icon {
  color: var(--mid-blue-accent);
}

.input-control {
  margin-bottom: 0.5rem;
}

#nameEntry,
#emailEntry,
#messageEntry {
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 1.8rem;
  padding: 1rem;
  width: 100%;
}

.input-label {
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 1rem;
}

#light .input-label {
  color: var(--black);
}

#dark .input-label {
  color: var(--white);
}

.submission-text {
  color: var(--black);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

#dark .submission-text {
  color: var(--black);
}

.contact-socials {
  margin: 0 auto;
}

.contact-socials a {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.contact-social-links {
  color: var(--white);
  height: 22px;
  margin-top: 20px;
  padding: 0 1rem;
}

.contact-social-links:hover {
  color: var(--pink);
}

/* Thank You Message */

.thank-you-container {
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: block;
  margin: 0 auto;
  padding: 5rem 2rem;
  width: 100%;
}

/* Entries Page */

.entries-container {
  background-color: var(--white);
  display: block;
  margin: 0 auto;
  padding: 5rem 2rem;
  width: 80%;
}

.entries-map {
  margin: 5rem auto 0;
  width: 80;
}

/* ADMIN PAGE */

.admin-nav {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.admin-user-flex-start {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}

.admin-user-flex-end {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  align-items: center;
  padding-right: 2rem;
}

.admin-user-greeting {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

#logout {
  border: none;
  background-color: var(--red);
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1rem 1.4rem;
  margin: 0 2rem;
  text-transform: uppercase;
}

.admin-background {
  display: grid;
  grid-template-columns: 75% 25%;
}

.admin-section {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.admin-hidden {
  display: none;
}

#gear {
  cursor: pointer;
}

.admin-section-title {
  font-size: 2.3rem;
  margin: 3rem auto 5rem;
  padding-left: 3rem;
}

.admin-hr {
  width: 100%;
}

.bold-key {
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.2rem;
  padding: 0;
}

.entry-data {
  font-size: 1.4rem;
  margin: 0.2rem 0 0.2rem;
  padding: 0;
}

.admin-entry-container {
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto 3rem;
  padding: 2rem 2rem 1rem;
  width: 70%;
}

.admin-grid {
  display: grid;
  grid-template-columns: 25% 75%;
}

.admin-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1.8rem;
  align-items: flex-end;
}

.admin-panel-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

#password-icon {
  color: var(--black);
  height: 17px;
  margin: 0 auto;
}

.crud-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  margin: 1rem 1rem 0.5rem;
  width: 150px;
  text-transform: uppercase;
  transition: 0.8s;
}

#respond,
#edit {
  background-color: var(--black);
}

#respond:hover,
#edit:hover,
#delete:hover,
#create:hover {
  background-color: var(--orange);
}

#edit {
  margin-top: 2rem;
}

#delete,
#create {
  background-color: var(--red);
}

#create {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
  width: 50%;
}

.admin-panel {
  background-color: var(--light-gray);
}

#admin-panel-title {
  color: var(--white);
}

.admin-user-container {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 3rem;
  padding: 2.5rem;
  width: 50%;
}

.metrics {
  display: flex;
  justify-content: center;
  align-items: center;
}

.metrics-text {
  font-size: 1.5rem;
  padding-left: 3rem;
  margin-bottom: 3rem;
}

.metrics-count {
  font-size: 1.8rem;
  font-weight: 600;
}

/* SECONDARY ADMIN PAGES - CREATE USER, SEND EMAIL */

.secondary-admin-page {
  background-color: var(--red);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.secondary-admin-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
  width: 30%;
  padding: 4rem 4rem 6rem;
  margin: 0 auto;
}

.secondary-section-title {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2.2rem;
}

.admin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 80%;
}

.admin-form input,
.admin-form textarea {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  box-sizing: border-box;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  width: 100%;
  padding: 1rem;
  margin: 2rem 0 2.5rem;
}

#to-box {
  margin: 0 0 1rem;
}

#edit-username {
  color: var(--gray-text);
  margin: 2rem 0 2rem;
}

.state-container {
  margin-bottom: 2.5rem;
}

.admin-form-state {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
}

.admin-form-label {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

.form-label-container {
  width: 100%;
}
.admin-crud-button {
  background-color: var(--black);
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  padding: 1.2rem 2rem;
  width: 180px;
  text-transform: uppercase;
  margin-top: 3rem;
  transition: 0.5s;
}

.admin-crud-button:hover {
  background-color: var(--red);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}

.admin-x-button {
  background-color: var(--white);
  align-self: flex-end;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
}

#x {
  height: 18px;
  color: black;
  transition: 0.3s;
}

#x:hover {
  color: var(--light-gray);
}

/* FOOTER SECTION */

footer {
  background-color: var(--black);
}

.footer__section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.footer__section ul {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  list-style: none;
  padding: 0.8px 20px;
}

.footer-link {
  color: var(--white);
  display: block;
  text-decoration: none;
  transition: 0.5s;
}

.footer-link:hover {
  color: var(--orange);
}

.footer-social-icons {
  color: var(--white);
  height: 22px;
  margin-right: 2rem;
  transition: 0.8s;
}

.footer-social-icons:hover {
  color: var(--pink);
}

/* ERROR PAGE */

.error-text {
  text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1465px) {
  .med-blue-button,
  .dark-blue-button,
  .resume-button {
    padding: 1.2rem 2.8rem;
  }

  body {
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 1381px) {
  .med-blue-button,
  .dark-blue-button,
  .resume-button {
    padding: 1.2rem 2.5rem;
  }

  .about__section,
  .projects__section,
  .contact__container {
    width: 75%;
  }
}

@media only screen and (max-width: 1170px) {
  .about__section,
  .projects__section,
  .contact__container {
    width: 85%;
  }
}

@media only screen and (max-width: 1200px) {
  .more-projects-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}

@media only screen and (max-width: 1136px) {
  .my-name-text {
    font-size: 7rem;
  }

  .skill-content {
    width: 85%;
  }
}

@media only screen and (max-width: 1045px) {
  p {
    font-size: 1.5rem;
  }

  .project-stack {
    font-size: 1.4rem;
  }

  .profile__image {
    width: 200px;
  }
}

@media only screen and (max-width: 1026px) {
  .my-name-text {
    font-size: 6.5rem;
  }

  .about__section,
  .projects__section,
  .skill-content,
  .contact__container {
    width: 90%;
  }
}

@media only screen and (max-width: 969px) {
  .med-blue-button,
  .dark-blue-button,
  .resume-button {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 948px) {
  .my-name-text {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 925px) {
  .about__section,
  .projects__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
  }

  .contact__container {
    width: 65%;
  }

  .sm-section-header,
  .section-title {
    text-align: center;
  }

  .about__container {
    display: flex;
    flex-direction: column;
  }

  .about__text {
    text-align: center;
  }

  .project__card,
  .projects-map {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 4rem;
    width: 85%;
  }

  .projects-map {
    margin-top: 0;
  }

  h4,
  .project-desc-para {
    text-align: center;
  }

  .project__preview,
  .project__desc,
  .project-desc-para {
    width: 100%;
  }

  .project__preview {
    margin-bottom: 2rem;
  }

  .projects-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .project__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0rem;
  }

  .project__desc .med-blue-button,
  .project__desc .dark-blue-button {
    margin-bottom: 1.5rem;
  }

  .profile__image {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 0 auto 3rem;
  }
}

@media only screen and (max-width: 870px) {
  .my-name-text {
    font-size: 5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  .project__card {
    width: 90%;
  }

  .about__container {
    width: 70%;
  }

  .about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__container .resume-button,
  .about__container .med-blue-button,
  .about__container .dark-blue-button {
    margin-bottom: 1rem;
    width: 200px;
  }

  .project__card .med-blue-button {
    margin-top: 1rem;
  }

  .project__card .med-blue-button,
  .project__card .dark-blue-button {
    width: 200px;
  }

  .more-projects-cards-container {
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 850px) {
  .nav-links {
    display: none;
  }

  #hamburger-links {
    position: absolute;
    top: 118px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto;
    padding-top: 4rem;
    padding-bottom: 3rem;
    height: auto;
    width: 100%;
  }

  .hero__container {
    align-items: center;
  }

  .project__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #light #hamburger-links {
    background-color: var(--black);
  }

  #dark #hamburger-links {
    background-color: var(--black);
  }

  #hamburger-links .nav-item {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .hamburger-button {
    display: flex;
  }

  .skills-background {
    width: 100%;
    box-sizing: border-box;
  }

  .secondary-admin-container {
    width: 55%;
  }

  .admin-form {
    width: 100%;
  }
}

@media only screen and (max-width: 705px) {
  .about__section,
  .projects__section {
    width: 90%;
  }

  .hero__text {
    padding: 0;
  }

  .my-name-text {
    font-size: 6rem;
  }

  .my-title-text {
    font-size: 3rem;
  }

  .skill-logo {
    height: 35px;
  }

  .language-header {
    font-size: 1.1rem;
  }

  #form .submit-button {
    width: 200px;
    text-align: center;
  }
}

@media only screen and (max-width: 691px) {
  .skill-items {
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 625px) {
  .swiper {
    width: 60%;
  }

  .about-links {
    flex-direction: column;
  }

  .about-links .resume-button,
  .about-links .med-blue-button,
  .about-links .dark-blue-button {
    margin-bottom: 1rem;
  }

  .profile__image {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 545px) {
  body {
    box-sizing: border-box;
    width: 100vw;
  }

  .contact__container {
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 512px) {
  .my-name-text {
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .more-projects-cards-container {
    width: 90%;
  }

  .more-projects-card-container {
    width: 40rem;
  }
}

@media only screen and (max-width: 455px) {
  .hero__container {
    align-items: center;
  }

  .hero__text {
    width: 90%;
  }

  #form {
    padding: 2rem 2rem 4rem;
  }

  .input-label {
    margin-top: 1rem;
  }

  p {
    line-height: 2.2rem;
  }

  .project__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
  }

  .project__card .med-blue-button,
  .project__card .dark-blue-button {
    width: 180px;
  }

  #form .submit-button {
    margin-top: 2.5rem;
  }

  .project__card {
    width: 100%;
  }

  .projects__section,
  .about__section,
  .mp-width {
    width: 100%;
  }

  .more-projects-card-container {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 400px) {
  .my-name-text {
    font-size: 5rem;
  }

  .skill-header {
    font-size: 1.4rem;
  }

  .skill-content {
    width: 95%;
  }

  .project-desc-para {
    margin-bottom: 2rem;
  }

  .more-projects-cards-container {
    height: 30rem;
  }

  .skills-container {
    padding: 2rem 0.5rem;
  }

  .blog-section-title {
    font-size: 2.6rem;
  }

  .contact__container {
    padding-bottom: 5rem;
  }

  .footer__section ul {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .slider-button-icon {
    height: 20px;
  }

  .my-name-text {
    font-size: 3.9rem;
  }

  .my-title-text {
    font-size: 2.5rem;
  }

  .hero-button {
    padding: 1.3rem 5rem;
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .profile__image {
    height: 140px;
    width: 140px;
  }

  p {
    font-size: 1.4rem;
  }

  .skill-item {
    padding: 0 1rem;
  }

  .project__desc .med-blue-button,
  .project__desc .dark-blue-button {
    margin: 0 auto 1rem;
  }

  .projects-map {
    width: 95%;
  }

  .project-stack {
    font-size: 1.3rem;
  }

  .about__container {
    width: 85%;
  }

  .blog-section-title {
    font-size: 2.3rem;
  }

  .more-projects-background {
    padding: 3rem 1rem;
  }

  .form-container {
    padding: 0 0.5rem 0 0;
  }

  #form {
    width: 75%;
  }

  .contact-social-links {
    height: 15px;
  }
}

@media only screen and (max-width: 320px) {
  h4 {
    font-size: 1.9rem;
  }

  .skill-header {
    font-size: 1.3rem;
  }

  .blog-section-title {
    font-size: 2rem;
  }

  form input {
    margin: 1rem auto 1rem;
  }

  .secondary-admin-container {
    padding-bottom: 1rem;
  }

  .admin-form {
    padding: 1rem;
  }

  .secondary-admin-container .admin-crud-button {
    margin-top: 0;
  }
}
